/* font family
font size
10px, 3rem (relative to HTML font size),2 em (in respect of parent),120%( relative to parent font size), viewport width20vw(20% of viewportwidth),
viewport height 20vh */
/* font-weight(normal,bold,or numerical value from 100 to 900)
font style(normal,italic,oblique)
font-variant(normal,small-caps) */

div > p {
    color: red;
    font-size: 80px;

}
/* changing colors with name */
h1{
    color: blue;
    font-size: 4em;
    font-style: italic;
}
ul{
    color: greenyellow;
      font-family: Georgia, 'Times New Roman', Times, serif;
}
/* red green blue s koi bhi color ban sakta h just choose between 0-255  */
h2{
    color: rgb(104, 36, 150);
    
}
/* # laga k 6 digit koi bhi 0 s le k f tak koi bhi color ban sakta h */
#one{
    color: #5003a0;
    background-color: aqua;
}
/* hsl hue(0 to 360) saturation() lightness() */
.three{
    color: hsla(23, 98%, 31%, 0.989);
    
}
/* rgba red green blue alpha(0 to 1) */
#two{
    color: rgba(168, 9, 9, 0.5);
}
ul{
    color: yellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* body{
    background-color:blanchedalmond
} */
body{
    background-image: url(../day02/pexels-iriser-1408221.jpg);
    /* background size cover will fit image perfectly in the background  */
    background-size: cover;
    background-repeat: no-repeat;

}
ul{
    color: yellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}