*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}

.container{
    display: flex;
    padding: 4rem;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.box{
    height: 180px;
    width: 180px;
    background-color: white;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: spin;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
    border-radius: 50%;
}
/* @keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} */

/* another way to write the above code is: */
/* @keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
} */
/* make it better and rotate round and round */
@keyframes spin{
    from{
        transform: rotate(0deg) translate(300px);
    }
    to{
        transform: rotate(360deg) translate(300px);
    }
} 
/* alag alag mat liekhna ek hi line me likhna hai varna transform overide kar dega */