*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}

.container{
    padding: 5rem;
    height: 100%;
    background-color: rgb(4, 4, 91);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* 4 is the number of columns and 3 is the number of rows and 1fr is the fraction of the available space. */
    grid-template-areas: 
    "box1 box2 box2 box3"
    "box1 box4 box5 box6"
    "box1 box7 box8 box6"
    ;
    
}
.box{
    
    background-color:lightgreen;

}

.box1{
    grid-area: box1;
}
.box2{
    grid-area: box2;
}
.box3{
    grid-area: box3;
}
.box4{
    grid-area: box4;
}
.box5{
    grid-area: box5;
}
.box6{
    grid-area: box6;
}
.box7{
    grid-area: box7;
}
.box8{
    grid-area: box8;
} 
.box3, .box5, .box7{
    background-color: red;
}
.box4, .box8{
    background-color: yellow;
}
