*{
    margin: 0;
}
body{
    
    background-color: #f4f4f4;
}
.head{
    background-color: white;
}
.first {
    margin-left: 200px;
 
}
.second{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    position: sticky;
    top: 0px;
}
.diningimage, .delivaryimage, .nightlifeimage{
    width: 70px;
    height: 70px;
    border-radius: 30%;
}
.dining{
    margin-left: 200px;
}
.dine, .delivaryarr, .night{
    position: relative;
    bottom: 22px;
    left: 5px;
    font-size: 20px;
    color: rgb(133, 126, 126);
}

.third{
    height: 500px;
    background-color: grey;

}

.brand{
    color: red;
    margin-right: 50px;
    font-weight: bold;
    font-size: 30px;
}
.searching{
    width: 300px;
    margin-left: 50px;
    position: relative;
    bottom: 15px;
    height: 30px;
}
button{
    height: 50px;
    width: 80px;
    border: none;
    color: rgb(134, 125, 125);
    bottom: 10px;
    cursor: pointer;
    font-size: 15px;
    position: relative;
    margin-right: 50px;
    background-color: white;
}

.card:hover{
    background-color: white;
    border-color:  white;

}
.image{
    position: relative;
}
.off{
    font-size: 30px;
    
    color: white;
    background-color : rgba(243, 48, 18, 0.6); /* RGBA m a show karta h transparency */
    position: absolute;
    bottom: 10px;
    left: 10px;

}
.card{

    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: 10px solid #f4f4f4; 
}
.Box{
    display: inline-block;
}

.img{
    
    width: auto;
    height: 250px;
    border-radius: 20px;
}
.restaunt_name{
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
.restaunt , .food_info , .location{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
.rating{
    height: 20px; ;
    background-color: green;
    padding: 3px;
    position: absolute;
    right: 5px;
    color: white;
    border-radius: 5px;

}

.price , .location_distance{
    position: absolute;
    right: 5px;
    
}
.food_info , .location{
    font-size: 15px;
    color: grey;
}
.location_distance{
    font-size: 10px;
    color: black;
    font-weight: bold;
}
